body {
    background-color: #efefef;
}

.main {
    margin: 30px 80px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}
.media-body {
    padding-top: 10px;
}

.media-body-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.menu-edit-question {
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.jumbotron {
    margin: 50px;
}

.question-comment {
    margin: 10px 0;
}

.btn-question-comment {
    float: right;
    margin-bottom: 10px;
}

.question-reply-menu {
    color: #999;
    margin-top: 5px;
}

.question-reply-menu .menu-icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.question-reply-menu .active {
    color: #499ef3;
}

.question-reply-menu .menu-icon:hover {
    color: #499ef3;
}

.question-tag {
    margin-right: 5px;
    line-height: 3em;
    white-space: normal;
}

.sub-replies {
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 15px 60px 15px;
    border: 1px solid #eee;
}

.sub-replies .media {
    border-bottom: 1px solid #eee;
}

.sub-replies input {
    margin-top: 20px;
}

.sub-replies .pull-right {
    margin-bottom: 5px;
}

.sub-replies .btn {
    margin: 10px 0;
}

.related-questions {
    line-height: 2em;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}

.publish-tag-select {
    display: none;
}

.tag-select-nav {
    margin: 10px 0;
}

.foot {
    padding: 10px 33%;
    color: #666;
}